.footer{

    background-color: black;
}

.container-fluid{

    background-color: gray;
     
}

.home{

    width: 100%;
    min-height: 100vh;
}

.cadastrarCamisa{ 
width: 100%;
min-height: 100vh;
}

.editarCamisa{
    width: 100%;
    min-height: 100vh;
}

.cadastrarChuteira{ 
    width: 100%;
    min-height: 100vh;
    }
    
.editarChuteira{
        width: 100%;
        min-height: 100vh;
    }

.cadastrarBone{ 
        width: 100%;
        min-height: 100vh;
        }
        
.editarBone{
            width: 100%;
            min-height: 100vh;
        }
        
    
body{
    background-color: white;
}

.altura8{ 
    width: 100%;
    min-height: 100vh;
    }

.altura7{ 
    width: 100%;
    min-height: 100vh;
    }    

    
.altura6{ 
    width: 100%;
    min-height: 100vh;
    }    


